.container {
    font-family: sans-serif;
    padding: 10px 0 10px 0;
    display: block;
    width: 100%;
    position: relative;
  }

  body { 
    min-height: 100vh; 
    background-image: linear-gradient(rgb(28, 0, 83), rgb(183, 157, 196));
  }

  .image_button{
    display: inline-block;
    border-radius: 25px;
    margin: 6px 8px 0px 8px;
  }

  .header{
    float: right;
  }

  nav{
    position:fixed;
    top: 20;
    width: 100%;
    z-index:20;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .copyright{
    width: 100%;
    background-color: rgb(28, 0, 83);
    bottom: 0;
    left:0;
    position: fixed;
    text-align: center;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .shop_icon{
    display: inline-block;
    margin: 4px 4px;
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
  }

  .login{
    display: inline-block;
    margin: 4px 4px 0px 4px;
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
  }
  .register{
    display: inline-block;
    margin: 4px 4px;
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    background-image: linear-gradient(rgb(238,0,100),rgb(225,114,114));
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .button {
    background-color: rgba(81, 122, 255, 0.932);
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 50px 8px 0 8px;
    cursor: pointer;
    border-radius: 25px;
    position: relative;
  }

  .rectangle{
    width:90%;
    height:1px;
    background:rgb(187, 144, 197);
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4px;
    margin-bottom: auto;
    opacity: 0.6;
  }

  .home_background_image{
    background-image:  url("../images/EAcad3.jpeg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 750px; /* You must set a specified height */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: 0.3;
    z-index:5; /* Puts the div element with image behind the header */
    margin-top: 44px;
    box-shadow: 0 0 2px 2px rgb(183, 157, 196) inset; /* Fade image edges*/
    border-radius: 10px;
  }

  .home_text{
      display: inline-block;
      position: absolute;
      top: 260px;
      right: 60px;
      width: 500px;
      height: 300px;
      text-align: right;
      font-size: 34px;
      font-weight: bold;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgb(24, 5, 43);
  }

  .contact_background_image{
    background-image:  url("../images/eacad5.jpeg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: 0.2;
    z-index:1; /* Puts the div element with image behind the header */
    margin-top: 44px;
    box-shadow: 0 0 2px 2px rgb(183, 157, 196) inset; /* Fade image edges*/
    border-radius: 10px;
  }

  .contact_title{
    display: inline-block;
    position: absolute;
    top: 225px;
    left: 260px;
    width: 250px;
    height: 300px;
    text-align: center;
    font-size: 32px;
    font-weight:lighter;
    font-family: sans-serif;
    z-index:10;
  }

  .small_rectangle{
    width:60%;
    height:1px;
    background:rgb(187, 144, 197);
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
.contact_form{
  width:90%;
  width: 430px;
  height: 325px;
  background-image:linear-gradient(rgb(225, 145, 164),rgb(198,145,122));
  display: inline-block;
  top: 200px;
  right: 100px;
  position: absolute;
  border-radius: 10px;
  opacity: 0.8;
}

.form_box{
  position: relative;
  display: block;
  width: 90%;
  height: 60px;
  border-color: rgb(21, 1, 29);
  text-align: center;
  font-size: 20px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
  margin-bottom: 13px;
}

.we_are{
  font-size: 60px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 180px;
  width: 300px;
  height: 100px;
  text-align: center;
  background: -webkit-linear-gradient(rgb(55, 176, 233), rgb(107, 2, 160));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgb(9, 5, 43);
}

h1{
  font-size: 94px;
  background: -webkit-linear-gradient(rgb(238,0,100),rgb(225,114,114));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  position: absolute;
  top: 250px;
  left: 140px;
  width: 400px;
  height: 100px;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(24, 5, 43);
}

.google{
  height: 200px;
  width: 300px;
  display: inline-block;
  position: absolute;
  top: 100px;
  right: 0;
  cursor: pointer;
}

.footer{
  width: 100%;
  left: 0;
  bottom: 0;
  position: relative;
  background-color: rgb(42, 25, 59);
  margin-bottom: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 50px;
  margin-top: 15px;
}

.lms_teacher{
  height: fit-content;
  width: fit-content;
  position: relative;
  top: 10px;
  display: inline-block;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.partners{
  height: fit-content;
  width: fit-content;
  position: relative;
  top: 75px;
  display: block;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.socials{
  display: inline-block;
  height: fit-content;
  width: fit-content;
  position: relative;
  top: 0px;
  padding: 5px;
}

.icons{
  height: 50px;
  width: 50px;
  display: inline;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.privacy{
  height: fit-content;
  width: fit-content;
  position: relative;
  top: 10px;
  display: inline-block;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-align: right;
}

.left{
  display: inline;
  position: relative;
  left: 20px;
}

.mid{
  display: inline;
  position: relative;
  left: 375px;
}

.right{
  display: inline;
  position: relative;
  left: 700px;
}

.icons_2{
  height: 25px;
  width: 25px;
  display: inline;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}